*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: sans-serif;
}

.header{
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 60px;
    padding: 0 260px;
}

.header > nav{
    height: 100%;
    width: 100%;
    display: flex;
}

.header > div{
    height: 100%;
    width: 100%;
}

.navigation{
    width: 100%;
    height: 100%;
    margin: 0% auto;
    
}

.navigation > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding-left: 0px;
}

.navigation > ul > li{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

li:hover{
    cursor: pointer;
}

.navigation > ul > li > a{
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
}

.headerLogo{
    position: absolute;
    height: 50px;;
    width: 100px;;
    left: 0px;
    top: 0px;
    border: none;
    background: transparent;
    padding-left: 10px;
    padding-top: 10px;
}

.headerLogo:hover{
    cursor: pointer;
}

.headerLogo > img{
    height: 100%;
    width: 100%;
}

.mainNavigation{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.8s all;
}

.mainNavigationList{
    list-style: none;
}

.mainNavigationListItem{
    color: white;
    font-size: 350%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.mainNavigationListItem > a{
    text-decoration: none;
    color: white;
}

button.navButton{
    display: flex;
    left: 0px;
    top: 0px;
    border: none;
    background: transparent;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
    font-size: 400%;
    padding-left: 20px;
    padding-top: 20px;
    position: absolute;
}

.navButton:hover{
    cursor: pointer;
}

.language{
    display: flex;
}

.language > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.languageList{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 5px;
}

.languageList > a{
    text-decoration: none;
    color: white;
}

.inactive{
    opacity: 0.5;
    color: rgb(85, 85, 85);
}

.bigFigure{
    width: 100%;
    height: 110vh;
    margin-bottom: 20px;
}

.bigFigure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bigFigure > h1{
    color: white;
    font-weight: 400;
    font-size: 500%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20%;
    visibility: visible;
}

.name{
    font-size: 400%;
    color: white;
    display: block;
    text-align: center;
    margin-top: 2%;
}

.footer{
    background: black;
    color: white;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
}

.footer > div{
    margin-bottom: 20px;
}

.footer > div > h2{
    padding: 10px;
    margin-top: 10px;
}

.contact{
  text-align: center;
}

.contact > a{
    text-decoration: none;
    color: white;
    font-style: italic;
}

.socials > figure > img{
    width: 20px;
    height: 20px;
}

.socials > figure > a{
    text-decoration: none;
    color: white;
}

.collections{
    width: 100%;
    padding: 40px;

}

.collectionsTitle, .infotitle{
    font-size: 350%;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
}

.collectionsList{
    list-style: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.collectionsListItem{
    width: 600px;
    height: 700px;
    flex-shrink: 1;
    flex-grow: 1;
    
}

.collectionsListItem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    background-color: black;
    padding: 40px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    
}

.block{
    background: black;
    width: 400px;
    flex-shrink: 1;
    flex-grow: 1;
    color: white;
}

.name{
    font-size: 40px;
}


.geschiedenisText{
    margin-bottom: 90px;
}

.tickets{
    display: flex;
    align-items: flex-end;
}

/*ticketbutton*/
.button{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    background:black;
    width: 160px;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    cursor: pointer;
}

.madeBy{
    width: 100%;
    background: black;
    color: white;
    font-style: italic;
    padding: 20px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/*slideshowbackgroundcolor*/
.slideshowBackground{
    background-color: black;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
