*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: sans-serif;
}

.header{
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 60px;
    padding: 0 260px;
}

.header > nav{
    height: 100%;
    width: 100%;
    display: flex;
}

.header > div{
    height: 100%;
    width: 100%;
}

.navigation{
    width: 100%;
    height: 100%;
    margin: 0% auto;
    
}

.navigation > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding-left: 0px;
}

.navigation > ul > li{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

li:hover{
    cursor: pointer;
}

.navigation > ul > li > a{
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
}

.headerLogo{
    position: absolute;
    height: 50px;;
    width: 100px;;
    left: 0px;
    top: 0px;
    border: none;
    background: transparent;
    padding-left: 10px;
    padding-top: 10px;
}

.headerLogo:hover{
    cursor: pointer;
}

.headerLogo > img{
    height: 100%;
    width: 100%;
}

.mainNavigation{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.8s all;
}

.mainNavigationList{
    list-style: none;
}

.mainNavigationListItem{
    color: white;
    font-size: 350%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.mainNavigationListItem > a{
    text-decoration: none;
    color: white;
}

button.navButton{
    display: flex;
    left: 0px;
    top: 0px;
    border: none;
    background: transparent;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
    font-size: 400%;
    padding-left: 20px;
    padding-top: 20px;
    position: absolute;
}

.navButton:hover{
    cursor: pointer;
}

.language{
    display: flex;
}

.language > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.languageList{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 5px;
}

.languageList > a{
    text-decoration: none;
    color: white;
}

.inactive{
    opacity: 0.5;
    color: rgb(85, 85, 85);
}

.bigFigure{
    width: 100%;
    height: 110vh;
}

.bigFigure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bigFigure > h1{
    color: white;
    font-weight: 400;
    font-size: 500%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20%;
}

.name{
    font-size: 400%;
    color: white;
    display: block;
    text-align: center;
    margin-top: 2%;
}

.footer{
    background: black;
    color: white;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
}

.footer > div{
    margin-bottom: 20px;
}

.footer > div > h2{
    padding: 10px;
    margin-top: 10px;
}

.contact{
  text-align: center;
}

.contact > a{
    text-decoration: none;
    color: white;
    font-style: italic;
}

.socials > figure > img{
    width: 20px;
    height: 20px;
}

.socials > figure > a{
    text-decoration: none;
    color: white;
}

.collections{
    width: 100%;
    padding: 40px;

}

.collectionsTitle, .infotitle{
    font-size: 350%;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
}

.collectionsList{
    list-style: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.collectionsListItem{
    width: 600px;
    height: 700px;
    flex-shrink: 1;
    flex-grow: 1;
    
}

.collectionsListItem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    background-color: black;
    padding: 40px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    
}

.block{
    background: black;
    width: 400px;
    flex-shrink: 1;
    flex-grow: 1;
    color: white;
}

.name{
    font-size: 40px;
}


.geschiedenisText{
    margin-bottom: 90px;
}

.tickets{
    display: flex;
    align-items: flex-end;
}

/*ticketbutton*/
.button{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    background:black;
    width: 160px;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    cursor: pointer;
}

.madeBy{
    width: 100%;
    background: black;
    color: white;
    font-style: italic;
    padding: 20px;
}
