*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: sans-serif;
}

#header{
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 60px;
    padding: 0 260px;
}

#header > nav{
    height: 100%;
    width: 100%;
    display: flex;
}

#header > div{
    height: 100%;
    width: 100%;
}

.navigation{
    width: 100%;
    height: 100%;
    margin: 0% auto;
    
}

.navigation > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding-left: 0px;
}

.navigation > ul > li{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

li:hover{
    cursor: pointer;
}

.navigation > ul > li > a{
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
}

.headerLogo{
    position: absolute;
    height: 50px;;
    width: 100px;;
    left: 0px;
    top: 0px;
    border: none;
    background: transparent;
    padding-left: 10px;
    padding-top: 10px;
}

.headerLogo:hover{
    cursor: pointer;
}

.headerLogo > img{
    height: 100%;
    width: 100%;
}

.language{
    display: flex;
}

.language > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.languageList{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 5px;
}

.languageList > a{
    text-decoration: none;
    color: white;
}

.bigFigure{
    width: 100%;
    height: 110vh;
}

.bigFigure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name{
    font-size: 400%;
    color: white;
    display: block;
    text-align: center;
    margin-top: 2%;
}